# The file configuration/play.lua will always change during the creation of the tas and is not valuable for versioning
configuration/play.lua

# Rocks installed from make install
lua_modules

# SQLite databases
db/*
!db/.gitkeep

# Videos of publications
assets/publication/videos/*
!assets/publication/videos/.gitkeep